extends layout

block content
  h1= title
  p Install this app in your HubSpot CRM to have basic CRM test data created. 
    The following items are created
    ul
        li 2 Companies
        li 10 Contacts associated to Companies
        li 10 Deals
        li 10 Tickets
    To get the most value from this, you should also create at least one additional user so the companies and deals can be associated to different users (but, this will work with only one user).
    a(href="https://app.hubspot.com/oauth/authorize?client_id=fc0b5ee1-5650-4ffe-91fb-da6ba96126bf&scope=contacts%20integration-sync%20tickets&redirect_uri=https://hs-test-data.herokuapp.com/auth" type='button') Authorize to your HubSpot CRM
